ul {
    list-style-type: none;

}

.hearts-size-main {
    height: 110px;
    width: 90px;
}

.hearts-size-preview {
    height: 100%;
}


.hearts {
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden; /*Hide its overflow*/
}

    .hearts div {
        position: absolute;
        width: 30px;
        height: 30px;
        animation-name: fall-hearts, shake-hearts;
        animation-duration: var(--duration), var(--var-shake-duration);
        animation-timing-function: linear, ease-in-out;
        animation-iteration-count: infinite, infinite;
        animation-play-state: running, running;
        -webkit-animation-name: fall-hearts, shake-hearts;
        -webkit-animation-duration: var(--duration), var(--var-shake-duration);
        -webkit-animation-timing-function: linear, ease-in-out;
        -webkit-animation-iteration-count: infinite,infinite;
        -webkit-animation-play-state: running, running;
        top: -50px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .hearts div:nth-child(1) {
            left: 15%;
            animation-delay: 3s,3s,0.9s;
            -webkit-animation-delay: 3s,3s,0.9s;
        }

        .hearts div:nth-child(2) {
            left: 20%;
            animation-delay: 8s,8s,0.7s;
            -webkit-animation-delay: 8s,8s,0.7s;
        }

        .hearts div:nth-child(3) {
            left: 25%;
            animation-delay: 15s,15s,1.1s;
            -webkit-animation-delay: 15s,15s,1.1s;
        }

        .hearts div:nth-child(4) {
            left: 30%;
            animation-delay: 12s,12s,1s;
            -webkit-animation-delay: 12s,12s,1s;
        }

        .hearts div:nth-child(5) {
            left: 35%;
            animation-delay: 5s,5s,0.6s;
            -webkit-animation-delay: 5s,5s,0.6s;
        }

        .hearts div:nth-child(6) {
            left: 40%;
            animation-delay: 9s,9s,0.9s;
            -webkit-animation-delay: 9s,9s,0.9s;
        }

        .hearts div:nth-child(7) {
            left: 45%;
            animation-delay: 13s,13s,1.5s;
            -webkit-animation-delay: 13s,13s,1.5s;
        }

        .hearts div:nth-child(8) {
            left: 50%;
            animation-delay: 4s,4s,1.1s;
            -webkit-animation-delay: 4s,4s,1.1s;
        }

        .hearts div:nth-child(9) {
            left: 55%;
            animation-delay: 10s,10s,0.7s;
            -webkit-animation-delay: 10s,10s,0.7s;
        }

        .hearts div:nth-child(10) {
            left: 60%;
            animation-delay: 6s,6s,0.5s;
            -webkit-animation-delay: 6s,6s,0.5s;
        }

        .hearts div:nth-child(11) {
            left: 65%;
            animation-delay: 2s,2s,1.5s;
            -webkit-animation-delay: 2s,2s,1.5s;
        }

        .hearts div:nth-child(12) {
            left: 70%;
            animation-delay: 7s,7s,1.2s;
            -webkit-animation-delay: 7s,7s,1.2s;
        }

        .hearts div:nth-child(13) {
            left: 75%;
            animation-delay: 11s,11s,0.8s;
            -webkit-animation-delay: 11s,11s,0.8s;
        }

        .hearts div:nth-child(14) {
            left: 80%;
            animation-delay: 14s,14s,0.5s;
            -webkit-animation-delay: 14s,14s,0.5s;
        }

        .hearts div:nth-child(15) {
            left: 85%;
            animation-delay: 1s,1s,1s;
            -webkit-animation-delay: 1s,1s,1s;
        }


:root {
    --duration: 15s;
    --var-shake: 50px;
    --var-shake-duration: 3s;
}

@keyframes fall-hearts {
    0% {
        top: 110%;
    }

    100% {
        opacity: 0;
    }
}


@keyframes shake-hearts {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(var(--var-shake))
    }

    100% {
        transform: translateX(0px)
    }
}

@-webkit-keyframes fall-hearts {
    0% {
        top: 110%;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes shake-hearts {
    0% {
        -webkit-transform: translateX(0px);
    }

    50% {
        -webkit-transform: translateX(var(--var-shake));
    }

    100% {
        -webkit-transform: translateX(0px);
    }
}